@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: linen;
}

h1 {
  position: sticky;
  top: 0;
  z-index: 999;
  color: floralwhite;
  background-color: sienna; 
  width: 99%;
  padding: 1%;
}

.text{
  box-sizing: border-box;
  width: 40%;
  padding: 15px 20px;
}
